@import './mixin.scss';
@import './variables.scss';

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    align-items: center;
    @include media(768px){
        padding: 20px 60px;
    }

    @include media(420px){
        padding: 20px 40px;
    }
    @include media(320px){
        padding: 10px;   
    }
}

.logo {
}
.navigation {
    display: flex;
    gap: 48px;
    @include media(480px){
        display: none;
    }
		&__item {
            padding: 0 10px;
            max-height: 25px;
            line-height: normal;
            transition: 250ms ease-in;
            &:hover,
            &:focus{
                color: $light-blue;
                outline: 1px solid $blue;
        }
		}

		&__link {
		}

		&__sign-in {
            @include button();
            transition: 250ms ease-in;
            &:hover,
            &:focus{
                background-color: $blue;
                border:1px solid $blue
            }
            @include media(480px){
                padding: 10px;
            }
		}

		&__button-icon {
		}
}
